<!-- contactos.html -->

{% extends 'portfolio/layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
{% endblock %}

{% block main %}
    <div class="contactos">
        <p><b>Nome:</b>  João Miguel Isidro Antas</p>
        <p><b>Localização:</b> Lisboa - Portugal</p>
        <p><b>Email Institucional:</b> a22002629@alunos.ulht.pt</p>
        <p><b>Email Pessoal:</b> joaoisidroantas@gmail.com</p>
        <p><b>Telemóvel:</b> +351 960 301 870</p>

        <section class="icons">
            <p>
                <a href="https://www.linkedin.com/in/joaoantas05/"> {% load static %} <img src="{% static 'portfolio/images/linkedin.png' %}" width="35"></a>
                <a href="https://github.com/joaoantas22002629/pw-labs-joaoantas-a22002629"> {% load static %} <img src="{% static 'portfolio/images/github.png' %}" width="35"></a>
                <a href="mailto:joaoisidroantas@gmail.com"> {% load static %} <img src="{% static 'portfolio/images/gmail.png' %}" width="35"></a>
            </p>
        </section>
    </div>
{% endblock %}