<!-- home.html -->

{% extends 'portfolio/layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
{% endblock %}

{% block main %}
    <div class="inicio">
        <div class="texto">
            <div>
                <p>Olá, Bem vindo!</p>
                <p>Sou o João</p>
                <p>Estudante de Engenharia Informática</p>
                <a href="{% url 'portfolio:sobre' %}" class="about">Sobre mim</a>
                <!--
                <a href="https://www.linkedin.com/in/joaoantas05/"> {% load static %} <img src="{% static 'portfolio/images/linkedin.png' %}" width="35"></a>
                <a href="https://github.com/joaoantas22002629/pw-labs-joaoantas-a22002629"> {% load static %} <img src="{% static 'portfolio/images/github.png' %}" width="35"></a>
                <a href="mailto:joaoisidroantas@gmail.com"> {% load static %} <img src="{% static 'portfolio/images/gmail.png' %}" width="35"></a>
                -->
            </div>
        </div> 
        <div class="dados">
            {% load static %}
            <img src="{% static 'portfolio/images/foto.png' %}" width="450">
        </div>
    </div>

    <div class="carta" id="carta">
        {% load static %}
        <img src="{% static 'portfolio/images/lusofona.jpg' %}" width="100%">
        <article>
            <p>
                Sou estudante do segundo ano do curso de  Engenharia Informática, tenho muita vontade de aprender com os outros, 
                contribuir com ideias e compartilhar experiências, ampliando conhecimentos e horizontes nas áreas das novas tecnologias. 
                Ao longo da minha formação, e de forma a torná-la proveitosa, desenvolvi competências informáticas recorrendo também à auto pesquisa de 
                novas ferramentas de trabalho, de forma a exponenciar a capacidade de adaptação a diferentes áreas. É minha a intenção de, futuramente, 
                complementar a minha formação inicial numa área de especialização, provavelmente em segurança informática pois revela-se uma área bastante 
                apelativa ao trabalho que pretendo desenvolver.
            </p>
        </article>
    </div>

    <div class="api">
        <div>
        <p id="tempoMin"> Temperatura Mínima: </p>
        <p id="tempoMax"> Temperatura Máxima: </p>
        <p id="classWindSpeed"> Velocidade do Vento: </p>
        </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
      fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')// envia GET request ao URL
      .then(response => response.json()) // Põe a resposta no formato json
      .then(data =>{
        let tempoMin = data.data[0].tMin
        document.querySelector('#tempoMin').append(tempoMin);
        let tempoMax = data.data[0].tMax
        document.querySelector('#tempoMax').append(tempoMax);
        let classWindSpeed = data.data[0].classWindSpeed
        document.querySelector('#classWindSpeed').append(classWindSpeed);
      } ); // Põe os dados na consola
     });
    </script>

{% endblock %}